// out: ../css/main.css, compress: false, sourceMap: false
body {
    h2 {
        line-height: 100px;
    }
    h3 {
        line-height: 60px;
    }
    h4 {
        line-height: 40px;
    }
}
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding:10px;
    display: block;
    height: 50px;
    background: rgb(237, 237, 237);
    p {
        font-size: 20px;
        float: left;
        font-weight: 700;
        color: rgb(58, 62, 255);
        line-height: 30px;
    }
}

.search-bar {
    margin-top:60px;
}

.home-recipes {
    .one-recipe {
        margin-bottom: 40px;
    }
}


.search-result {
    .recipe-card {
        margin-bottom: 40px;
    }
}
