@import 'nav-bar.css';

body h2 {
  line-height: 100px;
}
body h3 {
  line-height: 60px;
}
body h4 {
  line-height: 40px;
}
body p {
  line-height: 20px;
}
.home-recipes .one-recipe {
  margin-bottom: 40px;
}
.home-recipes .one-recipe img {
  width: 300px;
}
.search-result .recipe-card {
  margin-bottom: 40px;
}
