body h2 {
  line-height: 100px;
}
body h3 {
  line-height: 60px;
}
body h4 {
  line-height: 40px;
}
body p {
  line-height: 20px;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  display: block;
  height: 50px;
  background: #ededed;
}
.nav-bar p {
  font-size: 20px;
  float: left;
  font-weight: 700;
  color: #3a3eff;
  line-height: 30px;
}
.search-bar {
  margin-top: 60px;
}
.home-recipes .one-recipe {
  margin-bottom: 40px;
}
.home-recipes .one-recipe img {
  width: 300px;
}
.search-result .recipe-card {
  margin-bottom: 40px;
}
